@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('../fonts/Simple-Line-Icons.eot');
	src:url('../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Simple-Line-Icons.woff') format('woff'),
		url('../fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.eot');
    src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff'),
         url('../fonts/helvetica-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brushscriptmtitalic';
    src: url('../fonts/brush-script-mt-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
  scroll-behavior: smooth;
}

body {
	font-size: 10px;
}

.main-wrapper {
	background-color: gray;
	width: 1440px;
	margin: 0 auto;
	position: relative;
}

.main-wrapper>header {
	height: 780px;
	background: url(../images/background1page-rightShadow.png) no-repeat right bottom, 
				url(../images/background1page-leftRigtShadow.png) no-repeat center bottom, 
				url(../images/background1page-leftShadow.png) no-repeat 0px 218px, 
				url(../images/background1page-leftCenterShadow.png) no-repeat right bottom, 
				radial-gradient(#0073BA, #0066A4);
	text-align: center;
}

.logo-droopal {
	font: 2.8rem brushscriptmtitalic;
	padding-top: 205px;
	color: white;
	letter-spacing: 2px;
}

h1 {
	font: small-caps 4.4rem helveticaregular;
	color: white;
	margin-top: 94px;
	letter-spacing: 4px;
}

.logo-droopal~h3 {
	font: small-caps 1.8rem helveticaregular;
	color: white;
	margin-top: -14px;
	letter-spacing: 2px;
}

main {
	font: 1.2rem helveticaregular;
	color: white;
	margin-top: 84px;
	margin-bottom: 65px;
}

nav {
	position: fixed;
	width: 1440px;
	
	
	top: 0px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 112px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}

li {
	display: flex;
	align-items: center;
	font: small-caps 1.7rem helveticaregular;
	color: white;
	height: 54px;
}

li:first-child {
	border-bottom: solid white 3px;
}

/*li.active {
	border-bottom: solid white 3px;
}*/

h2 {
	font: small-caps 3.6rem helveticaregular;
	letter-spacing: 2px;
	
}

h3 {
	font: small-caps 2.2rem helveticaregular;
}



.services {
	width: 100%;
	height: 740px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.services>h2 {
	padding: 70px 10px 36px;
	color: black;
}

.wrapper-of-services {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	padding: 0px 80px 0px 80px; 
	margin: 0px 0px -10px 0px;
}

.article-of-services {
	width: 545px;
	height: 150px;
	margin: 0% 0%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

}

.article-of-services>div {
	height: 100%;
	flex: 1 1 auto; 
	border-left: solid white 2px;
	margin: 0px 0px 0px 16px; 
	transition: box-shadow, border-left 0.2s ease-out, 0.2s ease-out;
}

.article-of-services:hover>div {
	
	border-left: solid #0073ba 2px;
	box-shadow: 10px 10px 10px lightgray;
	
}

.article-of-services h3 {
	font: small-caps 2.2rem helveticaregular;
	margin: -15px 5px 10px 10px;
}

.article-of-services p {
	font: 1.05rem helveticaregular;
	color: #777777;
	margin: 5px 10px;
}

.pointer {
	width: 44px;
	height: 44px;
	background-color: white;
	position: absolute;
	margin: 0 auto;
	bottom: -22px;
	transform: rotate(45deg);
}





.solutions {
	background: white url(../images/solutionBackground.png) left top;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.solutions>h2 {
	color: white;
	padding: 98px 10px 36px;
}

.wrapper-of-solutions {
	width: 100%;
	height: 712px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-evenly; 
	padding: 0 50px;
}

.article-of-solution {
	width: 410px;
	height: 305px;
	background: url(../images/solutionItemBackground.png) center;
	position: relative;
	overflow: hidden;
}

.solution-article {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	left: 0px;
	top: 200px;
	color: white;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 0.5s ease; 
	overflow-y: auto;
}

.solution-article>header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.solution-article>p {
	font: 1rem/1.5 helveticaregular;
}

.solution-article:hover {
	transform: translateZ(0);
	transform: translateY(-200px);
}





.nav-button {
	color: white;
	font: 2.5rem Simple-Line-Icons; 
	text-decoration: none;
}

.nav-button:hover {
	color: lightgreen;
	text-decoration: none;
	text-shadow: 0 0 20px green;
}