@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('../fonts/Simple-Line-Icons.eot');
	src:url('../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Simple-Line-Icons.woff') format('woff'),
		url('../fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.eot');
    src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff'),
         url('../fonts/helvetica-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brushscriptmtitalic';
    src: url('../fonts/brush-script-mt-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes moveBackground {
	from {background-position: right 100%, center 100%, -930%  110%, 100% 100%}
	to {background-position: right 200%, center 130%, 0% 110%, 100% 0%}
}


html {
	scroll-behavior: smooth;
}

body {
	font-size: 10px;
}

.no-pointer-event {
	pointer-events: none;
}

.main-wrapper {
	width: 1440px;
	margin: 0 auto;
	position: relative;
}

.main-wrapper>header {
	background: url(../images/background1page-rightShadow.png) no-repeat right bottom, 
				url(../images/background1page-leftRigtShadow.png) no-repeat center bottom, 
				url(../images/background1page-leftShadow.png) no-repeat 0px 218px, 
				url(../images/background1page-leftCenterShadow.png) no-repeat right bottom, 
				radial-gradient(#0073BA, #0066A4);
	text-align: center;
	position: relative;
	padding-bottom: 56px;
	z-index: 5;
	animation: moveBackground 10s ease-in-out  infinite alternate;
}

.logo-droopal {
	font: 2.8rem brushscriptmtitalic;
	padding-top: 205px;
	color: white;
	letter-spacing: 2px;
}

h1 {
	font: small-caps 4.4rem helveticaregular;
	color: white;
	margin-top: 94px;
	letter-spacing: 4px;
}

.logo-droopal~h3 {
	font: small-caps 1.8rem helveticaregular;
	color: white;
	margin-top: -14px;
	letter-spacing: 2px;
}

main {
	font: 1.2rem helveticaregular;
	color: white;
	margin-top: 84px;
	margin-bottom: 65px;
}

nav {
	position: fixed;
	width: 1440px;
	top: 0px;
	z-index: 5;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 112px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

ul>a {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: linear-gradient 0.5s ease;
}

ul>a:hover {
	text-decoration: none;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
}

li {
	font: small-caps 1.7rem/2 helveticaregular;
	color: white;
	height: 54px;
	border-bottom: solid rgba(0, 0, 0, 0) 54px;
	transition: border-bottom 0.3s ease;
}

li.active {
	border-bottom: solid white 3px;
}

h2 {
	font: small-caps 3.6rem helveticaregular;
	letter-spacing: 2px;
	margin: 0px;
	padding: 100px 0px;
	position: relative;
	text-align: center;
}

h3 {
	font: small-caps 2.2rem helveticaregular;
}



.back-title {
	font: 9.3rem helveticabold;
	position: absolute;
	color: rgba(180, 180, 180, 0.2);
	text-shadow: 0px -10px 15px rgba(20, 20, 20, 0.1), 
		0px 10px 15px rgba(220, 220, 220, 0.1);
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	letter-spacing: 10px;
}





.services {
	width: 100%;
	height: 796px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 4;
}

.services>.back-title {
	top: 20px;
}

.services>h2 {
	color: black;
}

.wrapper-of-services {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 0px 142px 19px;
}

.article-of-services {
	width: 545px;
	height: 150px;
	margin: 0% 0%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

}

.article-of-services>div {
	height: 100%;
	flex: 1 1 auto; 
	border-left: solid white 2px;
	margin: 0px 0px 0px 16px; 
	transition: box-shadow, border-left 0.2s ease-out, 0.2s ease-out;
}

.article-of-services:hover>div {
	
	border-left: solid #0073ba 2px;
	box-shadow: 10px 10px 10px lightgray;
	
}

.article-of-services h3 {
	margin: -15px 5px 10px 10px;
}

.article-of-services p {
	font: 1.05rem helveticaregular;
	color: #777777;
	margin: 5px 10px;
}

.pointer {
	width: 44px;
	height: 44px;
	background-color: white;
	position: absolute;
	margin: 0 auto;
	bottom: -22px;
	transform: rotate(45deg);
}














.solutions {
	background: white url(../images/solutionBackground.png) no-repeat left top;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 3;
}

.solutions>.back-title {
	top: 48px;
}

.solutions>h2 {
	color: white;
}

.wrapper-of-solutions {
	width: 100%;
	height: 645px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between; 
	padding: 0 80px;
}

.article-of-solution {
	width: 410px;
	height: 305px;
	background: url(../images/solutionItemBackground.png) center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.solution-article {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	left: 0px;
	top: 200px;
	color: white;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 0.5s ease; 
	overflow-y: auto;
}

.solution-article>header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.solution-article>p {
	font: 1rem/1.5 helveticaregular;
}

.solution-article:hover {
	transform: translateZ(0);
	transform: translateY(-200px);
}



.wrapper-of-counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 133px 80px 0px 80px;

}

.counter {
	font:  4rem helveticaregular;
	letter-spacing: 6px;
	color: #0073ba;
	text-align: center;
	opacity: 0;
	transition: opacity 1s linear;
}

.isVisible {
	opacity: 1 !important;
}

.separator-of-counter {
	width: 7em;
	border: solid #0073ba 2px;
	margin: 6px auto;
}

.caption-of-counter {
	font: 1rem helveticaregular;
	color: #777777;
	margin: 12px 0px 62px;
	text-align: center;
}

.wrapper-of-logos {
	width: 100%;
	padding: 0px 80px 50px;
	word-spacing: 41px;
	line-height: 5;
	background-image: linear-gradient(0deg, #f3f3f3 0px, #ffffff 50px); 
}

.wrapper-of-logos>img {
	filter: grayscale(70%);
	transition: filter 0.2s ease;
}

.wrapper-of-logos>img:hover {
	filter: grayscale(0%);
}












.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: white;
	position: relative;
	z-index: 2;
}

.portfolio>.back-title {
	top: 52px;
}

.portfolio>h2 {
	color: black;
}

.wrapper-of-portfolio {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 300px 300px;
	grid-auto-flow: column;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}

.article-of-portfolio {
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.bg-of-portfolio {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	transition: filter 1.5s ease;
}

.article-of-portfolio>img {
	position: absolute;
	left: 40px;
	top: 20px;
}

.article-of-portfolio:nth-child(1) {
	grid-column: 1;
	grid-row: 1/3;
}

.article-of-portfolio:nth-child(1)>.bg-of-portfolio {
	background: url(../images/portfolio1.png) no-repeat center;
	background-size: cover;
}

.article-of-portfolio:nth-child(2) {
	grid-column: 2/4;
	grid-row: 1;
}

.article-of-portfolio:nth-child(2)>.bg-of-portfolio {
	background: url(../images/portfolio2.png) no-repeat center;
	background-size: cover;
}


.article-of-portfolio:nth-child(3)>.bg-of-portfolio {
	background: url(../images/portfolio3.png) no-repeat center;
	background-size: cover;
}

.article-of-portfolio:nth-child(4)>.bg-of-portfolio {
	background: url(../images/portfolio4.png) no-repeat center;
	background-size: cover;
}

.article-of-portfolio>h3 {
	color: white;
	margin: 50px 0px;
	z-index: 1;
	line-height: 0.8;
}

.info-of-article-of-portfolio {
	position: absolute;
	left: 40px;
	bottom: 20px;
	right: 40px;
	font:  1rem helveticaregular;
	color: white;
	height: calc(50% - 4rem);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.info-of-article-of-portfolio>a {
	text-decoration: underline;
	color: white;
	position: absolute;
	bottom: 0px;

}

.article-of-portfolio:hover>.bg-of-portfolio {
	filter: brightness(0.6);	
}

.article-of-portfolio:hover>.info-of-article-of-portfolio {
	opacity: 1;
}

.button {
	width: 145px;
	height: 41px;
	font: small-caps 1.6rem/1.3 helveticaregular;
	background-color: white;
	border: solid black 1px;
	border-radius: 5px;
	margin: 64px 0px 45px;
	text-align: center;
	user-select: none;
}

.button:hover {
	cursor: pointer;
	color: #0073ba;
	border-color: #0073ba;
	box-shadow: 0 0 20px #0073ba inset;
}

.button:active {
	box-shadow: 0 0 50px #0073ba inset;
}














.team {
	background: white url(../images/backgroundTeam.png) no-repeat left bottom;
	padding: 0px 0px 58px 0px;
	position: relative;
	z-index: 1;
}

.team>.back-title {
	top: 73px;
}

.team>h2 {
	color: white;
}

.slider {
	position: relative;
	height: 0px;
	padding-top: 24%;
}

.wrapper-of-slider {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slider-button-left {
	background: url(../images/arrowLeft.png) no-repeat center center;
	width: 3%;
	height: 48%;
	align-self: flex-start;
	padding: 2% 2%;
	margin: 1% 2%;
	cursor: pointer;
}

.slider-button-left:hover {
	background-color: rgba(200, 200, 200, 0.1);
}

.slider-button-left:active {
	box-shadow: 0 0 20px black inset;
}

.slider-button-right {
	background: url(../images/arrowRight.png) no-repeat center center;
	width: 3%;
	height: 48%;
	align-self: flex-start;
	padding: 2% 2%;
	margin: 1% 2%;
	cursor: pointer;
}

.slider-button-right:hover {
	background-color: rgba(200, 200, 200, 0.1);
}

.slider-button-right:active {
	box-shadow: 0 0 20px black inset;
}

.slider-window-of-members {
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	will-change: background-size;
}

.slider-of-members {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 1.5s ease;
}

.slider-wrapper-of-member {
	text-align: center;
	color: white;
}

.slider-photo-of-member {
	width: 60%;
	height: 52%;
	margin: 0 auto;
	border-radius: 50%;
	background: url(../images/memberPhoto.png) no-repeat 50% 50%;
	background-size: 140%;
	transition: background-size 0.3s ease;
}

.slider-photo-of-member:hover {
	background-size: 150%;
}



.slider-wrapper-of-member h3 {
	margin: 14% 0px 0px 0px;
	font-size: 1.1em;
}

.slider-wrapper-of-member p {
	font-size: 0.54em;
	font-family: helveticaregular;
	margin: 1% 0px; 

}














.contacts {
	background-color: white;
	padding: 0px 0px 60px 0px;
	position: relative;
}

.contacts>.back-title {
	top: 36px;
}

.contacts>h2 {
	color: black;
}

.wrapper-of-address {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	padding: 0px 182px;
}

.wrapper-of-addres>h3 {
	font: 1.6rem helveticaregular;
}

.wrapper-of-addres p {
	font: 1rem helveticaregular;
}

p+p {
	margin-top: -16px;
}

.emphasis {
	border: solid #0073ba 2px;
	margin: 12px 18px;
}

form {
	padding: 54px 140px 0px;
}

.wrapper-of-inputs {
	display: grid;
	height: 324px;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 64px;
	grid-row-gap: 32px;
	font: 1.1rem helveticaregular;
	margin-bottom: 42px;
}

input {
	text-indent: 28px;	
}

input[type="checkbox"] {
	transform: scale(1.6);
	margin-left: 4px;
}

select {
	text-indent: 28px;
	cursor: pointer;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	width: 100%;
  	height: 100%;
}

.select {
	position: relative;
}

.select::after {
	content: url(../images/pointer.png);
	position: absolute;
	right: 18px;
	top: 18px;
	pointer-events: none;
}

option:first-child {
	color: #777777;
}

label {
	font: 1.05rem helveticaregular;
	text-indent: 17px;
	user-select: none;
}

textarea {
	grid-column: 2;
	grid-row: 1 / 5; 
	text-indent: 28px;
	padding-top: 16px;
	resize: none;
}

input[type="checkbox" i] {
	background-color: white;
	border-radius: 0px;
}

.submit {
	width: 164px;
	height: 60px;
	font: small-caps 1.7rem/1.9 helveticaregular;
	background-color: white;
	border: solid black 1px;
	border-radius: 5px;
	margin: -30px auto -16px;
	text-align: center;
	user-select: none;
	position: relative;

}


.submit:hover {
	background-color: white;
	cursor: pointer;
	border-color: #0073ba;
	color: #0073ba;
	box-shadow: 0 0 20px #0073ba inset;
}

.submit:active {
	box-shadow: 0 0 80px #0073ba inset;
}











footer {
	background: url(../images/backgroundFooter.png) no-repeat center bottom;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 112px;
	padding: 0px 80px;
	position: relative;
}

.wrapper-of-social-icons {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 230px;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.social-icons {
	font: 2rem titillium_weblight;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid white 1px;
	text-align: center;
	color: white;
}

.social-icons:first-child {
	line-height: 46px;
}

.social-icons:nth-child(2) {
	line-height: 42px;
}

.social-icons:last-child {
	line-height: 32px;
}

.social-icons:hover {
	color: white;
	text-decoration: none;
	box-shadow: 0px 0px 20px lightgreen inset;
}

footer>p {
	font: 1.2rem helveticaregular;
	margin: 0px;
}

.nav-button {
	color: white;
	font: 2.5rem Simple-Line-Icons; 
	text-decoration: none;
}

.nav-button:hover {
	color: lightgreen;
	text-decoration: none;
	text-shadow: 0 0 20px lightgreen;
}










































@media All and (min-width: 1024px) and (max-width: 1439px) {
	.main-wrapper {
		width: 1024px;
		margin: 0 auto;
		position: relative;
	}

	.main-wrapper>header {
		animation: none;
		padding-bottom: 26px;
	}


	.logo-droopal {
		padding-top: 145px;
		letter-spacing: 2px;
	}

	h1 {
		margin-top: 30px;
		letter-spacing: 2px;
	}

	main {
		font: 1.2rem helveticaregular;
		color: white;
		margin: 50px 0px;
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 70px;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	}

	ul>a {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: linear-gradient 0.5s ease;
	}

	ul>a:hover {
		text-decoration: none;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
	}

	li {
		font: small-caps 1.7rem/2 helveticaregular;
		color: white;
		height: 54px;
		border-bottom: solid rgba(0, 0, 0, 0) 54px;
		transition: border-bottom 0.3s ease;
	}

	li.active {
		border-bottom: solid white 3px;
	}

	h2 {
		font: small-caps 3.6rem helveticaregular;
		letter-spacing: 2px;
		margin: 0px;
		padding: 100px 0px;
		position: relative;
		text-align: center;
	}

	h3 {
		font: small-caps 2rem helveticaregular;
	}

	.back-title {
		font-size: 7.3rem;
		padding: 20px 0px;
	}

	



	
	

	.services {
		height: 700px;
	}

	.article-of-services {
		width: 455px;
	}
		

	.services>.back-title {
		top: 20px;
	}

	.services>h2 {
		color: black;
	}

	.wrapper-of-services {
		padding: 0px 20px 19px;
	}

	.article-of-services {
		width: 455px;
		height: 110px;
	}

	.article-of-services p {
		font: 0.9rem helveticaregular;
		color: #777777;
		margin: 5px 10px;
	}

	








	.solutions {
		background: white url(../images/solutionBackground.png) no-repeat left -160px;
	}

	.wrapper-of-solutions {
		height: 490px;
		padding: 0 40px;
	}

	.article-of-solution {
		width: 290px;
		height: 230px;
		background: url(../images/solutionItemBackground.png) center;
		background-size: cover;
		position: relative;
		overflow: hidden;
	}

	.solution-article {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		left: 0px;
		top: 155px;
		color: white;
		padding: 15px 15px 0px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: transform 0.5s ease; 
		overflow-y: auto;
	}

	.solution-article>header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.solution-article>p {
		font: 0.9rem/1.2 helveticaregular;
	}

	.solution-article:hover {
		transform: translateZ(0);
		transform: translateY(-155px);
	}



	.wrapper-of-counters {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 90px 80px 0px 80px;

	}

	.counter {
		font:  3rem helveticaregular;
		letter-spacing: 6px;
		color: #0073ba;
		text-align: center;
		opacity: 0;
		transition: opacity 1s linear;
	}

	.isVisible {
		opacity: 1 !important;
	}

	.separator-of-counter {
		width: 7em;
		border: solid #0073ba 2px;
		margin: 6px auto;
	}

	.caption-of-counter {
		font: 1rem helveticaregular;
		color: #777777;
		margin: 12px 0px 62px;
		text-align: center;
	}

	.wrapper-of-logos {
		width: 100%;
		padding: 0px 80px 50px;
		word-spacing: 30px;
		line-height: 5;
		background-image: linear-gradient(0deg, #f3f3f3 0px, #ffffff 50px); 
	}

	.wrapper-of-logos>img {
		filter: grayscale(70%);
		transition: filter 0.2s ease;
	}

	.wrapper-of-logos>img:hover {
		filter: grayscale(0%);
	}












	.portfolio {
		padding: 0px 20px;
	}

	.wrapper-of-portfolio {
		grid-template-columns: auto auto auto;
		grid-template-rows: 270px 270px;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.info-of-article-of-portfolio {
		font:  0.8rem helveticaregular;
	}

	.button {
		margin: 45px 0px;
	}






	.team {
		background: white url(../images/backgroundTeam.png) no-repeat left -6px;
	}

	.slider-wrapper-of-member h3 {
		font-size: 1.2em;
	}

	.slider-wrapper-of-member p {
		font-size: 0.65em;
	}





	.contacts {
		padding: 0px 0px 50px 0px;
	}

	.wrapper-of-address {
		padding: 0px 100px;
	}

	

	

	

	form {
		padding: 10px 50px 0px;
	}

	.wrapper-of-inputs {
		height: 260px;
		grid-column-gap: 50px;
		grid-row-gap: 15px;
		margin-bottom: 30px;
	}







	footer {
		height: 90px;
		padding: 0px 52px;
	}

	.wrapper-of-social-icons {
		width: 190px;
		
	}

	




















	

	
}

@media All and (min-width: 768px) and (max-width: 1023px) {
	.main-wrapper {
		width: 768px;
	}

	.main-wrapper>header {
		animation: none;
	}


	.main-wrapper>header {
		background: url(../images/background1page-rightShadow.png) no-repeat right bottom, 
					url(../images/background1page-leftRigtShadow.png) no-repeat center bottom, 
					url(../images/background1page-leftShadow.png) no-repeat 0px bottom, 
					url(../images/background1page-leftCenterShadow.png) no-repeat -770px 310px, 
					radial-gradient(#0073BA, #0066A4);
		padding-bottom: 30px;
		animation: none;
	}

	.logo-droopal {
		padding-top: 230px;
	}

	h1 {
		margin-top: 120px;
		padding: 0px 130px;
	}

	.logo-droopal~h3 {
		margin-top: 25px;
		padding: 0px 120px;
	}

	main {
		margin: 90px 0px 120px;
		padding: 0px 30px;
	}

	

	h2 {
		font: small-caps 3rem helveticaregular;
		padding: 102px 0px 70px;
	}


/*
	h3 {
		font: small-caps 2rem helveticaregular;
	}



	.back-title {
		font: 5.5rem helveticabold;
		position: absolute;
		color: rgba(180, 180, 180, 0.2);
		text-shadow: 0px -10px 15px rgba(20, 20, 20, 0.1), 
			0px 10px 15px rgba(220, 220, 220, 0.1);
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		letter-spacing: 10px;
	}*/





	.services {
		width: 100%;
		height: 796px;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		z-index: 4;
	}

	.services>.back-title {
		top: 20px;
	}

	.services>h2 {
		color: black;
	}

	.wrapper-of-services {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: space-between;
		padding: 0px 142px 19px;
	}

	.article-of-services {
		width: 545px;
		height: 150px;
		margin: 0% 0%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

	}

	.article-of-services>div {
		height: 100%;
		flex: 1 1 auto; 
		border-left: solid white 2px;
		margin: 0px 0px 0px 16px; 
		transition: box-shadow, border-left 0.2s ease-out, 0.2s ease-out;
	}

	.article-of-services:hover>div {
		
		border-left: solid #0073ba 2px;
		box-shadow: 10px 10px 10px lightgray;
		
	}

	.article-of-services h3 {
		margin: -15px 5px 10px 10px;
	}

	.article-of-services p {
		font: 1.05rem helveticaregular;
		color: #777777;
		margin: 5px 10px;
	}

	.pointer {
		width: 44px;
		height: 44px;
		background-color: white;
		position: absolute;
		margin: 0 auto;
		bottom: -22px;
		transform: rotate(45deg);
	}














	.solutions {
		background: white url(../images/solutionBackground.png) no-repeat left top;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		z-index: 3;
	}

	.solutions>.back-title {
		top: 48px;
	}

	.solutions>h2 {
		color: white;
	}

	.wrapper-of-solutions {
		width: 100%;
		height: 645px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: space-between; 
		padding: 0 80px;
	}

	.article-of-solution {
		width: 410px;
		height: 305px;
		background: url(../images/solutionItemBackground.png) center;
		background-size: cover;
		position: relative;
		overflow: hidden;
	}

	.solution-article {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		left: 0px;
		top: 200px;
		color: white;
		padding: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: transform 0.5s ease; 
		overflow-y: auto;
	}

	.solution-article>header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.solution-article>p {
		font: 1rem/1.5 helveticaregular;
	}

	.solution-article:hover {
		transform: translateZ(0);
		transform: translateY(-200px);
	}



	.wrapper-of-counters {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 133px 80px 0px 80px;

	}

	.counter {
		font:  4rem helveticaregular;
		letter-spacing: 6px;
		color: #0073ba;
		text-align: center;
		opacity: 0;
		transition: opacity 1s linear;
	}

	.isVisible {
		opacity: 1 !important;
	}

	.separator-of-counter {
		width: 7em;
		border: solid #0073ba 2px;
		margin: 6px auto;
	}

	.caption-of-counter {
		font: 1rem helveticaregular;
		color: #777777;
		margin: 12px 0px 62px;
		text-align: center;
	}

	.wrapper-of-logos {
		width: 100%;
		padding: 0px 80px 50px;
		word-spacing: 41px;
		line-height: 5;
		background-image: linear-gradient(0deg, #f3f3f3 0px, #ffffff 50px); 
	}

	.wrapper-of-logos>img {
		filter: grayscale(70%);
		transition: filter 0.2s ease;
	}

	.wrapper-of-logos>img:hover {
		filter: grayscale(0%);
	}












	.portfolio {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		background-color: white;
		position: relative;
		z-index: 2;
	}

	.portfolio>.back-title {
		top: 52px;
	}

	.portfolio>h2 {
		color: black;
	}

	.wrapper-of-portfolio {
		display: grid;
		grid-template-columns: 400px 400px 400px;
		grid-template-rows: 300px 300px;
		grid-auto-flow: column;
		grid-column-gap: 40px;
		grid-row-gap: 40px;
	}

	.article-of-portfolio {
		padding: 20px 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		position: relative;
	}

	.bg-of-portfolio {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		transition: filter 1.5s ease;
	}

	.article-of-portfolio>img {
		position: absolute;
		left: 40px;
		top: 20px;
	}

	.article-of-portfolio:nth-child(1) {
		grid-column: 1;
		grid-row: 1/3;
	}

	.article-of-portfolio:nth-child(1)>.bg-of-portfolio {
		background: url(../images/portfolio1.png) no-repeat center;
		background-size: cover;
	}

	.article-of-portfolio:nth-child(2) {
		grid-column: 2/4;
		grid-row: 1;
	}

	.article-of-portfolio:nth-child(2)>.bg-of-portfolio {
		background: url(../images/portfolio2.png) no-repeat center;
		background-size: cover;
	}


	.article-of-portfolio:nth-child(3)>.bg-of-portfolio {
		background: url(../images/portfolio3.png) no-repeat center;
		background-size: cover;
	}

	.article-of-portfolio:nth-child(4)>.bg-of-portfolio {
		background: url(../images/portfolio4.png) no-repeat center;
		background-size: cover;
	}

	.article-of-portfolio>h3 {
		color: white;
		margin: 50px 0px;
		z-index: 1;
		line-height: 0.8;
	}

	.info-of-article-of-portfolio {
		position: absolute;
		left: 40px;
		bottom: 20px;
		right: 40px;
		font:  1rem helveticaregular;
		color: white;
		height: calc(50% - 4rem);
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	.info-of-article-of-portfolio>a {
		text-decoration: underline;
		color: white;
		position: absolute;
		bottom: 0px;

	}

	.article-of-portfolio:hover>.bg-of-portfolio {
		filter: brightness(0.6);	
	}

	.article-of-portfolio:hover>.info-of-article-of-portfolio {
		opacity: 1;
	}

	.button {
		width: 145px;
		height: 41px;
		font: small-caps 1.6rem/1.3 helveticaregular;
		background-color: white;
		border: solid black 1px;
		border-radius: 5px;
		margin: 64px 0px 45px;
		text-align: center;
		user-select: none;
	}

	.button:hover {
		cursor: pointer;
		color: #0073ba;
		border-color: #0073ba;
		box-shadow: 0 0 20px #0073ba inset;
	}

	.button:active {
		box-shadow: 0 0 50px #0073ba inset;
	}














	.team {
		background: white url(../images/backgroundTeam.png) no-repeat left bottom;
		padding: 0px 0px 58px 0px;
		position: relative;
		z-index: 1;
	}

	.team>.back-title {
		top: 73px;
	}

	.team>h2 {
		color: white;
	}

	.slider {
		position: relative;
		height: 0px;
		padding-top: 24%;
	}

	.wrapper-of-slider {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.slider-button-left {
		background: url(../images/arrowLeft.png) no-repeat center center;
		width: 3%;
		height: 48%;
		align-self: flex-start;
		padding: 2% 2%;
		margin: 1% 2%;
		cursor: pointer;
	}

	.slider-button-left:hover {
		background-color: rgba(200, 200, 200, 0.1);
	}

	.slider-button-left:active {
		box-shadow: 0 0 20px black inset;
	}

	.slider-button-right {
		background: url(../images/arrowRight.png) no-repeat center center;
		width: 3%;
		height: 48%;
		align-self: flex-start;
		padding: 2% 2%;
		margin: 1% 2%;
		cursor: pointer;
	}

	.slider-button-right:hover {
		background-color: rgba(200, 200, 200, 0.1);
	}

	.slider-button-right:active {
		box-shadow: 0 0 20px black inset;
	}

	.slider-window-of-members {
		flex: 1 1 auto;
		position: relative;
		overflow: hidden;
		will-change: background-size;
	}

	.slider-of-members {
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		transform: translate3d(0px, 0px, 0px);
		transition: transform 1.5s ease;
	}

	.slider-wrapper-of-member {
		text-align: center;
		color: white;
	}

	.slider-photo-of-member {
		width: 60%;
		height: 52%;
		margin: 0 auto;
		border-radius: 50%;
		background: url(../images/memberPhoto.png) no-repeat 50% 50%;
		background-size: 140%;
		transition: background-size 0.3s ease;
	}

	.slider-photo-of-member:hover {
		background-size: 150%;
	}



	.slider-wrapper-of-member h3 {
		margin: 14% 0px 0px 0px;
		font-size: 1.1em;
	}

	.slider-wrapper-of-member p {
		font-size: 0.54em;
		font-family: helveticaregular;
		margin: 1% 0px; 

	}














	.contacts {
		background-color: white;
		padding: 0px 0px 60px 0px;
		position: relative;
	}

	.contacts>.back-title {
		top: 36px;
	}

	.contacts>h2 {
		color: black;
	}

	.wrapper-of-address {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		text-align: center;
		padding: 0px 182px;
	}

	.wrapper-of-addres>h3 {
		font: 1.6rem helveticaregular;
	}

	.wrapper-of-addres p {
		font: 1rem helveticaregular;
	}

	p+p {
		margin-top: -16px;
	}

	.emphasis {
		border: solid #0073ba 2px;
		margin: 12px 18px;
	}

	form {
		padding: 54px 140px 0px;
	}

	.wrapper-of-inputs {
		display: grid;
		height: 324px;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto;
		grid-column-gap: 64px;
		grid-row-gap: 32px;
		font: 1.1rem helveticaregular;
		margin-bottom: 42px;
	}

	input {
		text-indent: 28px;	
	}

	input[type="checkbox"] {
		transform: scale(1.6);
		margin-left: 4px;
	}

	select {
		text-indent: 28px;
		cursor: pointer;
		-webkit-appearance: none;
	  	-moz-appearance: none;
	  	appearance: none;
	  	width: 100%;
	  	height: 100%;
	}

	.select {
		position: relative;
	}

	.select::after {
		content: url(../images/pointer.png);
		position: absolute;
		right: 18px;
		top: 18px;
		pointer-events: none;
	}

	option:first-child {
		color: #777777;
	}

	label {
		font: 1.05rem helveticaregular;
		text-indent: 17px;
		user-select: none;
	}

	textarea {
		grid-column: 2;
		grid-row: 1 / 5; 
		text-indent: 28px;
		padding-top: 16px;
		resize: none;
	}

	input[type="checkbox" i] {
		background-color: white;
		border-radius: 0px;
	}

	.submit {
		width: 164px;
		height: 60px;
		font: small-caps 1.7rem/1.9 helveticaregular;
		background-color: white;
		border: solid black 1px;
		border-radius: 5px;
		margin: -30px auto -16px;
		text-align: center;
		user-select: none;
		position: relative;

	}


	.submit:hover {
		background-color: white;
		cursor: pointer;
		border-color: #0073ba;
		color: #0073ba;
		box-shadow: 0 0 20px #0073ba inset;
	}

	.submit:active {
		box-shadow: 0 0 80px #0073ba inset;
	}











	footer {
		background: url(../images/backgroundFooter.png) no-repeat center bottom;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 112px;
		padding: 0px 80px;
		position: relative;
	}

	.wrapper-of-social-icons {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 230px;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.social-icons {
		font: 2rem titillium_weblight;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid white 1px;
		text-align: center;
		color: white;
	}

	.social-icons:first-child {
		line-height: 46px;
	}

	.social-icons:nth-child(2) {
		line-height: 42px;
	}

	.social-icons:last-child {
		line-height: 32px;
	}

	.social-icons:hover {
		color: white;
		text-decoration: none;
		box-shadow: 0px 0px 20px lightgreen inset;
	}

	footer>p {
		font: 1.2rem helveticaregular;
		margin: 0px;
	}

	.nav-button {
		color: white;
		font: 2.5rem Simple-Line-Icons; 
		text-decoration: none;
	}

	.nav-button:hover {
		color: lightgreen;
		text-decoration: none;
		text-shadow: 0 0 20px lightgreen;
	}


	}





































@media All and (min-width: 576px) and (max-width: 767px) {
	.main-wrapper {
		width: 576px;
	}

	.main-wrapper>header {
		animation: none;
	}
}